body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: rgb(163, 163, 163);
  padding-bottom: 5%;
  margin-bottom: 5%;
  font-size: 2rem;
}
.from,
.to,
.input {
  padding-left: 20%;
  padding-right: 20%;
}
